<!-- views/partials/carousel -->

<div id="carouselExampleSlidesOnly" class="carousel slide h-100 w-100 m-0 p-0" data-ride="carousel">
  <div class="carousel-inner h-100" id="carousel-back">
    <div class="carousel-item active h-100 w-100">
  <div class="carousel-caption d-none d-md-block">
    <h3 class="text-info mb-2" style="text-shadow: 1px 0 0 #bbb; font-size: 36px;">Ever Wish You Had Real Superpowers?</h3>
  </div>
    </div>
    <div class="carousel-item h-100 w-100">
    <div class="carousel-caption d-none d-md-block">
    <h3 class="text-info mb-5" style="text-shadow: 1px 0 0 #bbb; font-size: 36px;">We Can Help With That!</h3>
  </div>
    </div>
    <div class="carousel-item h-100 w-100">
  	 <div class="carousel-caption d-none d-md-block">
		<h4 class="text-center text-danger">Words Are All You've Got!</h4>
		<p class="text-center text-primary">Get Your Powers!</p>
		<a class="btn btn-warning" href="/allYouveGot">Buy Now!</a>  
	</div>

    </div>
  </div>
</div>