<!-- views/partials/carousel -->

		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <p class="text-center text-info d-none d-md-block w-100 h-100 mt-4" style="font-size: 60px !important;">Ever Wish You Had Real Superpowers?</p>
		    </div>
		    <div class="carousel-item">
		      <p class="text-center text-info d-none d-md-block w-100 h-100 mt-5" style="font-size: 60px !important;">We Can Help With That</p>
		    </div>
		    <div class="carousel-item">
		    	<div class="col mt-2">
		      <img class="img-responsive w-25 h-25" src="/images/words2-cover.jpg" alt="Words book cover">
		  </div>
		      <div class="col carousel-caption d-none d-md-block">
		      	<h4 class="text-center text-dark">Words Are All You've Got!</h4>
		      	<p class="text-center text-dark">Get Your Powers Today!</p>
		      	<a class="btn btn-success" href="#">Buy Now!</a>
		      </div>
	    </div>
	</div>
</div>