<!-- views/partials/footer.handlebars -->

<footer class="py-5 mt-5 bg-dark">
	<div class="container">
		<p class="text-center text-white">Copyright &copy; Great Human Skills 2019</p>
	</div>
</footer>

<!--
<div class="row">
	<div class="col-lg">
		<div class="p-3 bg-dark text-white">
			<p>This is the footer</p>
		</div>
	</div>
</div> -->