<!-- views/partials/showComments.handlebars -->

{{#if showComment}}
	{{#each showComment}}

<div class="media mb-4">
	<img class="d-flex mr-3 rounded-circle" src="/profiles/{{this.image}}" alt="profile picture">
	<div class="media-body">
		<h5 class="mt-0">{{this.userId}} posted:</h5>
		{{this.comment}}
		<p class="mt-1" style="font-size: 10px">{{this.postedOn}}</p>
	</div>
</div>

{{/each}}
{{/if}}