<!-- views/sideWidget.handlebars -->

<div class="col-md-4">


	<!-- Search Widget -->
	<div class="card my-4">
		<h5 class="card-header">Search</h5>
		<div class="card-body">
			<form method="post" action="/widgetSearch" autocomplete="off">
			<small class="text-muted">Search by Title, Author, or Category</small>
			<div class="input-group">
				<input type="text" class="form-control" name="inquiry" placeholder="Search for...">
				<span class="input-group-btn">
					<button class="btn btn-success" type="submit">Go!</button>
				</span>
			</div>
		</form>
		</div>
	</div>



<!-- Categories Widget -->
<div class="card my-4">
	<h5 class="card-header">Categories</h5>
	<div class="card-body">
		<div class="row">
			<div class="col-lg-6">
			<ul class="list-unstyled mb-0">
					<li>
						<form method="post" action="/getCategory">
						<input type="hidden" name="category" value="How To"><button type="submit" class="btn-link">How To</button>
						</form>
					</li>
					<li>
						<form method="post" action="/getCategory">
						<input type="hidden" name="category" value="Brainstorm"><button type="submit" class="btn-link">Brainstorm</button>
						</form>
					</li>
					<li>
						<form method="post" action="/getCategory">
						<input type="hidden" name="category" value="Tips And Tricks"><button type="submit" class="btn-link">Tips & Tricks</button>
						</form>
					</li>
				</ul>
			</div>
			<div class="col-lg-6">
				<ul class="list-unstyled mb-0">
					<li>
						<form method="post" action="/getCategory">
						<input type="hidden" name="category" value="Rock Bottom Riser"><button type="submit" class="btn-link">Rock Bottom Riser</button>
						</form>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>


<!-- Link Widget -->
<div class="card my-4">
	<h5 class="card-header">Links</h5>
	<div class="card-body">
		<a href="/wordsAd">Our Books</a>
		<br>
		<a href='/contact'>Contact Us</a>
	</div>
</div>





<!-- Side Widget -->
<div class="card my-4">
	<h5 class="card-header">Knowledge</h5>
	<div class="card-body">
		<a href="/termsAndConditions">Terms And Conditions</a>
		<br>
		<a href="/privacyPolicy">Privacy Policy</a>
	</div>
</div>


<!-- Twitter Timeline -->
<div class="card my-4">
	<h5 class="card-header">Twitter Feed</h5>
	<div class="card-body">
		<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/greathumanskill?ref_src=twsrc%5Etfw">Tweets by greathumanskill</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</div>

</div>