@import url('https://fonts.googleapis.com/css?family=Diplomata+SC');
@import url('https://fonts.googleapis.com/css?family=Ultra');


body {
	min-height: 100vh;
}

/* css for allYouveGot page */
#section-1 {
	margin: 0px;
	padding: 0px;
	background-image: url("/images/win.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#ul {
	color: #c70000;
	width: 100%;
	margin: 30px;
	/*text-shadow:1px 0px #000;*/
	font-size: 16px;
}


#blurb {
	color: #000;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	width: 50%;
	margin: 5px 0px;
	padding: 5px;
}

#background {
	/*background-color: rgba(255, 255, 255, 0.3); /*rgba is to apply opacity to element and avoid inheritance by child elements.*/
	width: 100%;
	padding: 3px;
	border-radius: 1%;
}

#headline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #000;
	width: 100%;
	margin: 5px 0px 50px 0px;
	padding: 5px;
}

#title {
	color: #000;
	width: 100%;
	margin:15px 5px 5px 15px;
	text-align: center;
	font-size: 18px;
	font-family: Arial, helvetica, sans-serif;
	text-decoration: underline;
}

#cover {
	width: 200px;
	height: 290px;
	margin: 10px 10px 0px 50px;
 	border: 1px solid black;
	border-radius: 1.5%;
}

#horizontal-break {
	height: 340px;
	width: 1px;
	margin: 25px 15px;
	border: 1px solid #bbb;
}

#act {
	color: #000;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	width: 90%;
	margin: 40px 5px 10px 0px;
	background-color: rgba(255, 255, 255, 0.4);
}

/*
.con {
	position: relative;
	text-align: center;
}

#back {
	height: 350px;
	width: 100%;
	margin: 20px auto;
	border: 1px solid #000;
	border-radius: 1%;
}

.centered {
	position: absolute;
	height: 350px;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	text-shadow: 1px 0px 0px #000;
	font-family: Times, sans-serif;
}*/


/* css for homepage */

#head-text {
	width: 100%;
	margin: 18% auto;
	font-size: 36px;
	font-family: times;
}

/*
#user-text {
	text-decoration: underline;
	font-size: 20px;
	font-family: times;
}*/

.card-img-top {
	width: 100%;
	height: 15vw;
	object-fit: cover;
}


/* Quill Editor CSS Style */

	#form-container {
  width: 500px;
}

.row {
  margin-top: 15px;
}
.row.form-group {
  padding-left: 15px;
  padding-right: 15px;
}
.btn {
  margin-left: 15px;
}

.change-link {
  background-color: #000;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  bottom: 0;
  color: #fff;
  opacity: 0.8;
  padding: 4px;
  position: absolute;
  text-align: center;
  width: 150px;
}
.change-link:hover {
  color: #fff;
  text-decoration: none;
}

img {
  width: 150px;
}

#editor-container {
  height: 130px;
  width: 500px;
  border: 1px solid #bbb;
  margin: 10px auto;
}

/* End of CSS Style */

/* For second Edit Editor */
#editor {
	height: 375px;
}


#the-great-header {
	height: 200px;
	width: 100%;
	background-color: #000;
}

#pic {
	max-height: 100%;
	max-width: 50%;
}

#first {
	width: 100%;
	margin: 100px auto;
}

#carousel-back {
	background-image: url("/images/green-background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#header-img {
	text-align: center;
}

.carousel-inner {
	width: 100%;
	max-height: 200px !important;
}

#article-data {
	background-color: #fff;
	/*border: 1px solid #bbb;*/
	height: 400px;
	width: 100%;
	margin: 5px auto;
	padding-top: 10px;
}

#postDes {
	height: 50px;
	font-size: 24px;
	color: #000;
	text-align: center;
}

#cardtemp {
	border: 1px solid #bbb;
}

#articleImage {
	height: 200px;
	width: 70%;
	border: 1px solid black;
	border-radius: 5px;
}

#artImageContainer {
	height: 200px;
	width: 100%;
	margin: 5px auto;
}


#incoming {
	height: 200px;
	width: 300px;
}

#preview {
	height: 200px;
	width: 300px;
	margin: 10px auto;
}


#profile {
	height: 200px;
	width: 300px;
	margin: 10px auto;
	display: none;
}

#pic {
	height: 150px;
	width: 100px;
	text-align: center;
}

#card-container {
	border: 1px solid #AAA;
	background-color: #aaa;
}

#comment-profile-pic {
	height: 100%;
	width: 80%;
	text-align: center;
}


#newProfile {
	height: 200px;
	width: 300px;
	margin: 10px auto;
	display: none;
}


#newArticleImage {
	height: 200px;
	width: 300px;
	margin: 10px auto;
	display: none;
}

.btn-link {
	background: none !important;
	/* color: inherit;*/
	color: #0275d8; /* This is bootstrap's "primary" color */
	border: none;
	padding: 0 !important;
	font: inherit;
	cursor: pointer;
}

/* Smaller than standard 960px */
@media only screen and (max-width: 959px) {};

/* Standard 960px: */
@media only screen and (min-width 768px) and (max-widthL 959px) {};

/* All mobile sizes */
@media only screen and (max-width: 767px) {};

/* Mobile lanscape size */
@media only screen and (min-width: 480px) and (max-width: 767px) {};

/* Mobile portrait size */
@media only screen and (max-width: 479px) {};