<!-- views/allYouveGot.handlebars -->

<div id="section-1">

<!-- <div class="container-fluid"> -->
	<div class="row justify-content-center">
		<div class="col-6">
	<p id="headline"><b>Discover the real world power of words and how you can use them to win in love, work, and life.</b></p>
</div>
</div>
<!-- </div> -->

		<div class="d-flex justify-content-center">
	<div><p id="title"><b>Words Are All You've Got!</b></p>
	<img id="cover" src="images/words2-cover.jpg"></div>
	<div id="horizontal-break"></div>

<div id="background">
	<div id="copy">
	<p id="blurb"><b>Are You Trying To:</b></p>
		<b><ul id="ul">
			<li>Wow readers with a blog</li>
			<li>Land a dream job</li>
			<li>Create compelling cover letters and resumes</li>
			<li>Impress your employer</li>
			<li>Make an impact on a potential lover</li>
			<li>Grab people's attention</li>
			<li>Have your ideas taken seriously</li>
			<li>Attract more clients</li>
			<li>Be a better leader</li>
		</ul></b>

		<p id="act"><b>Perhaps it's time you take notice of the fact that the words you tell yourself and others are what make up your reality, and by learning how to properly express yourself will make you a FORCE to be reckoned with.</b></p>
	</div>
</div>
</div>

</div> <!-- End of section 1 -->