<!-- views/articleShow.handlebars -->

<div class="row">
	<div class="col-lg">
		<div class="lead">
			{{post.description}}
		</div>
		<div>
			{{post.blog}}
		</div>
		<div>
			{{post.createdOn}}
		</div>
	</div>
</div>


{{> comments}}

{{> showComment}}