<!-- File Manipulation Practice Page -->



<div class="container" style="height: 100%; width: 100%;">
<div class="row justify-content-center">

{{#if imageSize}}
<div class="text-center text-dark">{{imageSize}}</div>
{{/if}}


<div class="col-lg-8 mt-5 border border-dark rounded">

<form method="post" action="/imgPractice" enctype="multipart/form-data" autocomplete="off">

	<!-- Hidden input to pass the aritcle's meta id # -->
	<input type="hidden" name="articleMetaId" value="{{articleMetaId}}">

	<!-- Hidden input to pass the admin token to next route -->
	<input type="hidden" name="admin" value="{{admin}}">

<div class="form-group m-3">
	<label for="img">Upload An Image For The Article Header</label>
	<input type="file" id="up" class="form-control" name="img" accept="image/jpg, image/png, image/jpeg" onchange="handleFiles(this.files)">
	<button type="submit" class="btn btn-success mt-3">Send</button>
</div>
</form>
</div>

<div class="col-lg-8 m-3">
<div id="preview" class="rounded">
</div>
</div>

</div>
</div>