<!-- views/blog.handlebars -->

<div class="container">
<div class="row mt-5 mb-3">
	<!--<div class="col justify-content-center d-inline"> -->





<!-- If admin logged in, provide functionality -->
		{{#if token}}
<!-- form in order to change article image -->
		<div class="col d-inline">
		<form method="POST" action="/editMeta" autocomplete="off">
			<fieldset>
				<!-- Button -->
				<div class="form-group">
					<button type="submit" class="btn btn-dark">Edit An Article's Meta</button>
				</div>


			</fieldset>
		</form>
	</div>
<!-- End of change article image form -->

<!-- Edit Article Meta Data -->
		<div class="col d-inline">
		<form method="POST" action="/editImage" autocomplete="off">
			<fieldset>

				<!-- Button -->
				<div class="form-group">
					<button type="submit" class="btn btn-dark">Edit An Article's Image</button>
				</div>


			</fieldset>
		</form>
	</div>
<!-- End of article meta data -->

<!-- Article content edit link -->
		<div class="col d-inline">
		<form method="POST" action="/getEdit" autocomplete="off">
			<fieldset>

				<!-- Pass in admin for security-->
		<!--		<input type="hidden" value="{{admin}}"> -->

				<!-- Button -->
				<div class="form-group">
					<button type="submit" class="btn btn-dark">Edit An Article's Content</button>
				</div>


			</fieldset>
		</form>
	</div>
</div>
<!-- </div> -->
<!-- End of Admin Search form -->
		{{/if}}

<hr style="background-color: #bbb">

<!-- Beginning of new articlesMeta form -->
<div class="col-md-10 justify-content-center">
		<legend>New Blog</legend>
<form method="post" action="/blogSave" autocomplete="off">

<fieldset>

<div class="form-group">
	<label for="title">Title</label>
	<input type="text" class="form-control" name="title" placeholder="Title" autocomplete="off">
	</div>

	<div class="form-group">
	<label for="author">Author</label>
	<input type="text" class="form-control" name="author" placeholder="Stephen Smith" autocomplete="off">
</div>

<div class="form-group">
	<label for="description">Description</label>
	<textarea class="form-control" name="description" rows="2" placeholder="This week we'll take a look at..." ></textarea>
</div>

<div class="form-group">
	<label for="category" class="d-block">Category</label>
	<select name="category">
		<option class="text-muted" value="none">Choose One</option>
		<option value="Writing">Writing</option>
		<option value="Lifestyle">Lifestyle</option>
		<option value="Tips And Tricks">Tips And Tricks</option>
		<option value="Communication">Communication</option>
	</select>
</div>

<div class="form-group">
	<select name="state">
		<option value="draft" selected>Draft</option>
		<option value="published">Publish</option>
	</select>
</div>


<div class="form-group">
	<input type="hidden" name="token" value="{{token}}">
</div>


<div class="form-group" style="text-align: right;">
	<button class="btn btn-dark" type="submit">Post!</button>
</div>

</fieldset>
</form>
</div>
</div>