<!-- views/blog.handlebars -->

<div class="container">
<div class="row">
	<div class="col-md-10 justify-content-center">





<!-- If admin logged in, provide functionality -->
		{{#if token}}
		<form method="POST" action="/getEdit" autocomplete="off">
			<fieldset>
				
				<!-- Article search bar -->
			<!--	<div class="form-group">
					<label for="artSearch">Article Search</label>
					<input type="text" class="form-control" name="artSearch" placeholder="Title" autocomplete="off">
				</div> -->

				<!-- Pass in admin for security-->
				<input type="hidden" value="{{admin}}">

				<!-- Button -->
				<div class="form-group">
					<button type="submit" class="btn btn-dark">Edit An Article</button>
				</div>


			</fieldset>
		</form>
		{{/if}}
<!-- End of Admin Search form -->

<!-- Beginning of new articlesMeta form -->

		<legend>Login</legend>
<form method="post" action="/blogSave" autocomplete="off">

<fieldset>

<div class="form-group">
	<label for="title">Title</label>
	<input type="text" class="form-control" name="title" placeholder="Title" autocomplete="off">
	</div>

	<div class="form-group">
	<label for="author">Author</label>
	<input type="text" class="form-control" name="author" placeholder="Stephen Smith" autocomplete="off">
</div>

<div class="form-group">
	<label for="description">Description</label>
	<textarea class="form-control" name="description" rows="2" placeholder="This week we'll take a look at..." ></textarea>
</div>

<div class="form-group">
	<select name="state">
		<option value="draft" selected>Draft</option>
		<option value="published">Publish</option>
	</select>
</div>


<div class="form-group" style="text-align: right;">
	<button class="btn btn-dark" type="submit">Post!</button>
</div>

</fieldset>
</form>
</div>
</div>
</div>