<!-- views/books.handlebars -->


<div class="container">
	<div class="row">

		<!-- Over Arching col -->
		<div class="col-md-8">


			<!-- Header -->
			<h1 class="text-center mt-5" id="bookHeader">Words Are All You've Got!</h1>

			<hr>

<p class="mt-3" id="bookUser"><strong>{{currentUser.username}}</strong></p>
<p> &nbsp; &nbsp; &nbsp; &nbsp;Are you tired of not having your ideas taken seriously at work? Are you struggling to land the next big sales contract? Are you making an impression with the people you have contact with every day? <br> Then welcome to your new life!</p>

<img src="images/words2-cover.jpg" alt="words cover" class="img-fluid rounded border border-dark mt-3">

<div class="form-group mt-5">
	<p class="text-primary">Get it on kindle or in paperback</p>
	<a href="https://www.amazon.com/dp/B07MX5JYLS/ref=sr_1_fkmrnull_2?keywords=Words+are+all+you%27ve+got%21&qid=1547818159&s=Books&sr=1-2-fkmrnull" class="btn btn-success m-0" target="_blank">Buy Now</a>
</div>


		</div>
		<!-- ./col -->


<!-- SideWidget -->

{{> sideWidget}}






	</div>
	<!-- ./row -->

</div>
<!-- ./container -->