<!-- views/confirmMetaEdit.handlebars -->


<div class="container mt-5">
	<div class="row">
		<div class="col-md-10 justify-content-center">
			<p>Thank you! Your changes have been saved!</p>
		</div>
	</div>
</div>

<script>
	setTimeout(() => {
		window.location = '/';
	}, 3000);
</script>