<!-- views/confirmEmailChange.handlebars -->

<div class="container mt-5">
	<div class="row mt-5 justify-content-center">
<div class="col-md-8 mt-5">
	<img src="images/writing.jpg" alt="hands writing" class="img-fluid rounded">
	<h3>A reset password email has been sent to you.<br>Hope to see you soon!</h3>
	<br>
	<p>Redirecting to Homepage...</p>
</div>
</div>
</div>


<script>
	setTimeout(() => {
		window.location.href = '/';
	}, 4000);
</script>