<!-- views/confirmNewPassword.handlebars -->

<div class="container mt-5">
	<div class="row mt-5 justify-content-center">
<div class="col-md-8 mt-5">
	<img src="images/writing.jpg" alt="hands writing" class="img-fluid rounded">
	<h3>Your password has been changed.<br>Welcome back!</h3>
	<br>
	<p>Redirecting to Login...</p>
</div>
</div>
</div>


<script>
	setTimeout(() => {
		window.location.href = '/login';
	}, 4000);
</script>