<!-- views/contact.handlebars -->


<div class="container">
<div class="row">

<!-- Post Content Column -->
	<div class="col-lg-8">

		<!-- header -->
		<h1 class="mt-5">Contact Us!</h1>

		<br>

		<h5>Do you have a question, idea, or concern you'd like to share with us?</h5>
		<br>
		<h5>Send us an email!</h5>
		<br>

		<a href="mailto:info@greathumanskills.com">info@greathumanskills.com</a>


		</div>


	<!-- Sidebar Widgets Column -->

{{> sideWidget}}

</div>
<!-- /.row -->

</div>
<!-- /.container -->