<!-- views/editProfilePic.handlebars -->


<div class="row justify-content-center">

<div class="col-lg-8 mt-4">
	<h3>Current Profile Pic:</h3>
<div class="media mb-4 mt-4">
	<img class="d-flex ml-4 rounded" src="profiles/{{user.image}}" alt="current profile picture">
</div>
</div>


	<div class="col-lg-8 mt-4">
		<legend>Edit Your Profile Pic</legend>

	<form method="post" action="/changeProfPic" enctype="multipart/form-data" id="newUp" autocomplete="off">

		<fieldset>

	<!-- Photo/image -->
	<div class="form-group d-inline mt-5 mb-1">
	<label for="changedPro mt-5">Upload New Profile Pic</label>
	<input type="file" id="changedPro" class="form-control" name="changedProf" accept="image/jpg, image/png, image/jpeg" onchange="showChangedPic(this.files)">

	<!-- Button -->
	<div class="form-group mt-3">
		<button type="submit" class="btn btn-success">Upload</button>
	</div>


</fieldset>
</form>

	<!-- Preview of Profile Pic -->
	<!--<div class="form-group d-inline mt-3"> -->
		<div class="media mb-4">
		<div id="newProfile" class="d-flex ml-4 mt-4 rounded"></div>
	</div>
	<!--</div>-->

</div>
</div>