<!-- views/logout.handlebars -->

<div class="row justify-content-center">
	<div class="col-lg-8 mt-5">
		<p class="goodbye">We get it... You've other things to do.</p>
		<p class="goodbye">In that case, we wish you a wonderful day, and we hope to see you again soon!</p>
		<p class="goodbye">Now's your opportunity to practice what you've learned.</p>
	</div>
	<div class="col-lg-8 mt-5">
		<p>You can now:</p>
	<div class="form-group">
		<a class="btn btn-success" href="/sign-up">Sign Up!</a>
		<a class="btn btn-success" href="/login">Login</a>
	</div>

	<p>Or wait 5 seconds to be redirected to the homepage</p>
</div>

</div>



<script>
	setTimeout(()=> {
		window.location.href = '/';
	}, 5000);
</script>