<!-- views/logout.handlebars -->

<div class="row">
	<div class="col-lg-8 justify-content-center">
		<p class="goodbye">We get it; you've other things to do.</p>
		<p class="goodbye">In that case, we wish you a wonderful day, and we hope to see you again soon!</p>
		<p class="goodbye">Now's your opportunity to practice what you've learned.</p>
	</div>
	<div class="form-group">
		<a class="btn btn-success" href="/sign-up">Sign Up!</a>
		<a class="btn btn-success" href="/login">Login</a>
		</div>
</div>