<!-- views/quill.handlebars -->


<h3 style="text-align: center"> {{#if admin}}
	Welcome Blogger, Please Enter Your Blog Below!
{{/if}}</h3>


<div id="form-container" class="container">
  <form id="quill-form">

  	<input id="articleId" type="hidden"  name="articleId" value="{{articleMetaId}}">

    <div class="row form-group">
      <label for="about">About me</label>
      <input id="about" name="about" type="hidden">
      <div id="editor-container">
      </div>
    </div>
    
    <div class="row">
      <button class="btn btn-primary" type="submit">Save Profile</button>
    </div>
  </form>
</div>


<!-- End of HTML -->

