<!-- practice/quill.handlebars -->





<!-- Create the editor container -->
<!-- <div id="editor-container">
  <p>Hello World!</p>
  <p>Some initial <strong>bold</strong> text</p>
  <p><br></p>
</div> -->



<div id="form-container" class="container">
  <form id="quill-form">

    <div class="row form-group">
      <label for="about">About me</label>
      <input id="about" name="about" type="hidden">
      <div id="editor-container">
        <p></p>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-primary" type="submit">Save Profile</button>
    </div>
  </form>
</div>


<div id="blog-post-show">
</div>


<!-- End of HTML -->

