<!-- views/resetPasswordForm -->

{{#if authorizationToken}}

<div class="row justify-content-center">
	<div class="col-sm-6 col-sm-offset-3 mt-3">

		<legend>Reset Your Password</legend>

<form method="POST" action="/saveNewPass" autocomplete="off">

<fieldset>

	<!-- hidden field to pass authorization token -->
	<input type="hidden" name="authToken" value="{{authorizationToken}}">

	<!-- New Password -->
	<div class="form-group">
		<label for="newPassword" style="display:block;">Please Enter Your New Password</label>
		<small class="form-text text-muted">Do yourself a favor and be creative, don't use a password you use other places, and mix it up with capital letters, symbols, and numbers for best results. The most secure system in the world cannot protect against poor passwords.</small>
		<input class="form-control mt-4" id="newPassword" type="password" name="newPassword" placeholder="Password"/>
	</div>

		<!-- Confirm Password -->
	<div class="form-group mt-3">
		<label for="confirmPassword" style="display:block;">Please Confirm Your New Password</label>
		<input class="form-control" id="confirmPassword" type="password" name="confirmPassword" placeholder="Password"/>
	</div>

	<!-- Button -->
	<div class="form-group">
	<button class="btn btn-success" type="submit">Submit</button>
	</div>
	</fieldset>
	</form>


	</div>
	</div>

	{{else}}

	<div class="row justify-content-center">
	<div class="col-sm-6 col-sm-offset-3 mt-5">

		<h1 class="text-center">Oops! Looks like you don't belong here!</h1>

	</div>
	</div>

	{{/if}}