<!-- views/sorry2.handlebars -->


<div class="container mt-5">
	<div class="row mt-5 justify-content-center">
<div class="col-md-8 mt-5">
	<img src="images/writing.jpg" alt="hands writing" class="img-fluid rounded">
	<h3>Sorry! Something went wrong.<br>Please try again and make sure all fields are properly filled out.<br>If you continue to experience problems, please <a href="/contact">contact support</a> for help.</h3>
</div>
</div>
</div>


<script>
	setTimeout(() => {
		window.location.href = '/sign-up';
	}, 4000);
</script>