<!-- views/sorry6.handlebars -->

<div class="container mt-5">
	<div class="row mt-5 justify-content-center">
<div class="col-md-8 mt-5">
	<img src="images/writing.jpg" alt="hands writing" class="img-fluid rounded">
	<h3>Oops! Sorry, it looks like this link has expired.<br>Please request a new one.</h3>
</div>
</div>
</div>


<script>
	setTimeout(() => {
		window.location.href = '/login';
	}, 3000);
</script>