<!-- views/sorry8.handlebars -->

<div class="container mt-5">
	<div class="row mt-5 justify-content-center">
<div class="col-md-8 mt-5">
	<img src="images/writing.jpg" alt="hands writing" class="img-fluid rounded">
	<h3>Oops! The image you chose is an unsupported file type.<br>Please try again.</h3>
</div>
</div>
</div>


<script>
	setTimeout(() => {
		window.location.href = '/sign-up';
	}, 4000);
</script>