<!-- views/sorry.handlebars -->

<div class="container mt-5">
	<div class="row mt-5 justify-content-center">
<div class="col-md-8 mt-5">
	<img src="images/writing.jpg" alt="hands writing" class="img-fluid rounded">
	<h3>Sorry, Your search didn't return any results.<br>Try something else</h3>
</div>
</div>
</div>


<script>
	setTimeout(() => {
		window.location.href = '/';
	}, 3000);
</script>