<!-- views/unauthorized.handlebars -->

<div class="row">
	<div class="col-lg">
		<p class="goodbye">Oops! It looks like you might have forgotten to enter a field. Give it another shot.</p>
		<div class="form-group">
			<a class="btn btn-success" href="/sign-up">Sign Up!</a>
			<a class="btn btn-success" href="/login">Login</a>
		</div>
	</div>
</div>