<!-- views/wordsAd.handlebars -->

<!-- <div class="container">
	<div class="row">
		<div class="col-12"> -->


	<div class="jumbotron jumbotron-fluid">
		<div class="container m-0 p-0">
			<div class="row">
				<div class="col-12">

			<p class="font-weight-bold text-warning headline">Words Are All You've Got!</p>

		<a href="https://www.amazon.com/dp/B07MX5JYLS/ref=sr_1_fkmrnull_2?keywords=Words+are+all+you%27ve+got%21&qid=1547818159&s=Books&sr=1-2-fkmrnull" target="_blank"><img class="img-fluid border border-dark rounded wordsImg" src="images/words2-cover.jpg" alt="book cover"></a>
		<!--	<br><br><br>
			<p>Write Here</p>
			<br><br><br> -->
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col">

	<div id="background">
	<div id="copy">
	<p id="blurb"><b>Are You Trying To:</b></p>
		<b><ul id="ul">
			<li>Wow Readers With A Blog</li>
			<li>Land A Dream Job</li>
			<li>Create Compelling Cover Letters And Resumes</li>
			<li>Impress Your Employer</li>
			<li>Make An Impact On A Potential Lover</li>
			<li>Grab People's Attention</li>
			<li>Have Your Ideas Taken Seriously</li>
			<li>Attract More Clients</li>
			<li>Be A Better Leader</li>
		</ul></b>

		<p class="ml-3" id="act"><b>Perhaps it's time you take notice of the fact that the words you tell yourself and those around you are what make up your reality. As a result, learning how to properly express yourself will make you a FORCE to be reckoned with. It's time to take control of YOUR life, and it all begins with a simple click...</b></p>
	</div>

<!-- Button -->
<div class="form-group mt-3 p-0 ml-3">
	<a href="https://www.amazon.com/dp/B07MX5JYLS/ref=sr_1_fkmrnull_2?keywords=Words+are+all+you%27ve+got%21&qid=1547818159&s=Books&sr=1-2-fkmrnull" class="btn btn-success border border-dark m-0 text-white" target="_blank">Buy Now</a>
</div>


</div>

			</div>
		</div>
	</div>




	<!--	</div>  ./col-12 -->
	<!-- </div>  ./row -->
<!-- </div> ./container -->