<!-- views/wordsAd.handlebars -->

<!-- <div class="container">
	<div class="row">
		<div class="col-12"> -->


	<div class="jumbotron jumbotron-fluid">
		<div class="container m-0 p-0">
			<div class="row">
				<div class="col-12">

			<p class="font-weight-bold text-warning headline">Words Are All You've Got!</p>

		<a href="https://www.amazon.com/dp/B07MX5JYLS/ref=sr_1_fkmrnull_2?keywords=Words+are+all+you%27ve+got%21&qid=1547818159&s=Books&sr=1-2-fkmrnull" target="_blank"><img class="img-fluid border border-dark rounded wordsImg" src="images/words2-cover.jpg" alt="book cover"></a>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col">

	<div id="background">
	<div id="copy">
<!--	<p id="blurb"><b>Are You Trying To:</b></p>
		<b><ul id="ul">
			<li>Wow Readers With A Blog</li>
			<li>Land A Dream Job</li>
			<li>Create Compelling Cover Letters And Resumes</li>
			<li>Impress Your Employer</li>
			<li>Make An Impact On A Potential Lover</li>
			<li>Grab People's Attention</li>
			<li>Have Your Ideas Taken Seriously</li>
			<li>Attract More Clients</li>
			<li>Be A Better Leader</li>
		</ul></b> -->

		<p class="blurb" id="tit"><b>The Professional's Guide To Effective Writing!</b></p>
		<br/>
		<p class="blurb"><b>All Of The Writing Advice And Grammar You <u>NEED</u> In Order To Be Professional, And Nothing More!</b></p>
		<br/>

		<!--<p class="ml-3" id="act"><b>Perhaps it's time you take notice of the fact that the words you tell yourself and those around you are what make up your reality. As a result, learning how to properly express yourself will make you a FORCE to be reckoned with. It's time to take control of YOUR life, and it all begins with a simple click...</b></p> -->

		<p class="ml-3">
			This is not another boring grammar book! . . . mostly. This book 
			is intended as a guide for you, the professional realtor, the 
			salesperson, the software developer, the marketer, the blogger, 
			(the professional of any profession), which contains all of the 
			writing advice and grammar you NEED in order to be professional,
			and nothing more!</p>

			<p class="ml-3">The reality is that few people actually benefit from an intensive 
			deep dive into the complexities of the English language in 
			their day to day lives. Do you, the professional, need to know 
			what an Asyndetonic Compound Sentence is in order to send 
			your client an email, or write up a contract, or come up with a 
			great headline? I’m willing to bet not. There are, however, some 
			general guidelines, tips, tricks, and grammatical rules that you 
			probably should know in order to keep you from coming across 
			as an amateur, because let’s be honest, no one likes that, and 
			those who like it least are the people you’re trying to convince
			that it’s a good idea for them to fork over their hard earned cash 
			for your hard learned skills and services.</p>

			<p class="ml-3">A little bit of knowledge can make a 
			tremendous contribution to your success in any field you chose to 
			pursue. In fact, saying, (or writing), the correct thing in the 
			correct way, (as we’ll soon explore), will often be the difference 
			between someone signing your contract, clicking on your ad, 
			using your software, responding to your email, handing you their 
			money . . . or not.</p>

	</div>

<!-- Button -->
<div class="form-group mt-3 p-0 ml-3">
	<p class="mt-4 hook"><b>Take Control Of Your Success!</b></p>
	<a href="https://www.amazon.com/dp/B07MX5JYLS/ref=sr_1_fkmrnull_2?keywords=Words+are+all+you%27ve+got%21&qid=1547818159&s=Books&sr=1-2-fkmrnull" class="btn btn-success border border-dark m-0 text-white" target="_blank"><b>GET IT!</b></a>
</div>


</div>

			</div>
		</div>
	</div>




	<!--	</div>  ./col-12 -->
	<!-- </div>  ./row -->
<!-- </div> ./container -->