<!-- views/word.handlebars -->

<div class="row">
	<div class="col-sm-8 col-offset-3">
		<fieldset>
		<form method="post" action="/adlog" autocomplete="off">

		<!-- input -->
	<div class="form-group">
		<label for="word">What's The Word?</label>
		<input class="form-control" id="word" type="text" name="word" placeholder="The Word"/>
	</div>

		<!-- Button -->
	<div class="form-group">
		<button class="btn btn-dark" type="submit">Do it!</button>
	</div>

	</fieldset>
	</div>
</div>
